* {
  margin: auto;
  font-family: helvetica;
}

:root {
  --pink: rgb(255, 200, 228);
  --grey: rgb(128, 128, 128);
}

main {
  background-color: rgb(102, 178, 255);
}

nav {
  height: 200px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grey);
}

.links {
  color: var(--pink)
}

#pic {
  height: 700px; 
  width: 500px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 100px;
}

#contact {
  background-color: var(--grey);
}