* {
  margin: auto;
  font-family: helvetica;
}

main {
  background-color: rgb(102, 178, 255);
}

nav {
  height: 200px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(128, 128, 128);
}

.links {
  color: rgb(255, 153, 204);
}

#pic {
  height: 700px; 
  width: 500px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 100px;
}

#contact {
  background-color: rgb(128, 128, 128);
}